<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="public/css/layout.css"/>
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
	<script src="/bower_components/oauth-js/dist/oauth.min.js"></script>
	<script data-main="public/js/main.js" src="/bower_components/requirejs/require.js" type="text/javascript"></script>
</head>
<body>

	{{{body}}}

</body>
</html>
