<h1 class="welcome">Welcome to the Test Server!</h1>
<button type="button" class="btn btn-primary mainpagebtn" id="start">Hello World</button>
<br>
<br>
<a href="/sample_route">A route!</a>
<br>
<a href="/router/first_route">A route using a router</a>
<br>
<a href="/getStuff">getStuff</a>
